.App {
  /* text-align: center; */
  font-family: sans-serif;
}

.heading {
  text-align: center;
  margin: 40px;
}

.bar {
  position: fixed;
  top: 50%;  
  right: 0;  
  text-align: center;
  margin: 15px;
}

.bar a {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 2px 1px 3px  olive;
}

.bar a:hover {
  text-decoration: none;
  font-size: 2.5rem;
}

.intro {
  background: url(./assets/margaret-2.JPG) no-repeat right ;
  background-size: cover;
  height: 600px;
  color: whitesmoke;
  text-shadow: darkolivegreen 1px 1px;
  text-align: justify;
  padding: 19% 10%;
}
.intro a {
  /* border: solid darkgreen 2px; */
  border-radius: 10px;
  padding: 10px 20px;
  color: darkolivegreen;
  background-color: rgba(194, 247, 203, 0.7);
  margin: 20px;
  font-size: 1.2rem;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
