.App {
  font-family: sans-serif;
}

.heading {
  text-align: center;
  margin-top: 40px;
}

.bar {
  position: fixed;
  top: 50%;  
  right: 0;  
  text-align: right;
  margin: 15px;
}

.bar a {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 2px 1px 3px  rgb(50, 63, 27);
}

.bar a:hover {
  text-decoration: none;
  font-size: 2.5rem;
  position: relative;
  right: 20px;
}

.intro {
  background: url(./assets/margaret.JPG) no-repeat right ;
  background-size: cover;
  height: 600px;
  color: whitesmoke;
  text-shadow: darkolivegreen 1px 1px;
  padding: 19% 10% 0;
}

.intro strong {
  font-size: 3rem;
}

.intro a {
  border-radius: 10px;
  padding: 10px 20px;
  color: darkolivegreen;
  background-color: rgba(194, 247, 203, 0.7);
  margin: 10px 30px 0 0;
  display: inline-block;
  font-size: 1.2rem;
}

.line {
  background: linear-gradient(to right,orange,yellow,lightgreen,powderblue,violet);
  display: block;
  width: 290px;
  height: 5px;
  margin: auto auto 40px;
}

.about-me {
  margin: auto;
}

.about-me strong {
  color: rgb(49, 70, 187);
}

.about-me a {
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, violet, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smoke-dev {
  background-color: whitesmoke;
  padding: 10px 0 50px;
  margin-top: 70px;
  text-align: center;
}

.flex-dev {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;
}

/* @media.flex-dev */

.project-img {
  height: 270px;
  /* width: 540px; */
  object-fit: scale-down;
  margin-bottom: 15px;
}

.project-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sub-heading{
  margin: 40px 0;
  font-weight: 800;
  /* text-shadow: darkorchid 1px 1px; */
  background: -webkit-linear-gradient(  gold, salmon,pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-img {
  height: 130px;
  width: 130px;
  margin-right: 15px;
}

.game-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

#contact h6 {
  font-weight: 600;
}

#contact a{
  font-size: 1.2rem;
  background: -webkit-linear-gradient(-45deg, skyblue, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact h4 {
  font-family: 'Cabin Sketch', cursive;
  color: rgb(99, 99, 99);
}

footer {
  font-family: 'Lato', sans-serif;
  color: midnightblue;
}

@media screen and (max-width: 1024px) {
  .bar {
    visibility: hidden;
  }

  .intro {
    background: url(./assets/margaret.JPG) no-repeat;
    background-size: cover;
    padding: 40% 10% 0;
  }

  .intro strong {
    font-size: 2rem;
  }
  
  .game-img {
    height: 100px;
    width: 100px;
  }
}